extends layout

block content
  h1 Canvas Page
  p This page contains a canvas element with client-side JavaScript.
  canvas#myCanvas(width="600", height="400", style="border:1px solid #000000;")
  script(src="/js/canvas.js")
