doctype html
html
  head
    title Express + Pug AJAX Example
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  body
    h1 AJAX Query Example
    form(id="queryForm")
      label(for="query") Enter Query:
      input(type="text", id="query", name="query", placeholder="Search...")
      button(type="submit") Search
    div#result

    // Include the external JS file
    script(src="/main.js")
