doctype html
html
  head
    title assignment 6
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  body
    h1 assignment 6
    p1 Enter either apple, banana, or orange.
    form(id="queryForm")
      label(for="query") Enter Query:
      input(type="text", id="query", name="query", placeholder="Search...")
      button(type="submit") Search
    div#result

    script(src="/main.js")
